.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  line-height: 1;
  padding-top: 8px;
}

.next,
.prev {
  display: block;
  font-size: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.next:after {
  content: "❯❯";
}
.prev:after {
  content: "❮❮";
}

.page {
  font-weight: 600;
  margin: 0 10px;
}
